<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ojzhmzvhf.bkt.clouddn.com/jquery.js"></script>
    <link href="http://ok1b0smdq.bkt.clouddn.com/bootstrap.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2 align="center">微信定位系统中国有我一定黄特供版</h2>
    <table id="title_list" class="table table-bordered">
            <tr class="danger">
                <td align="center">用户名</td>
                <td align="center">记录时间</td>
                <td align="center">用户ip</td>
            </tr>
        {% if locations %}
            {% for location in locations %}
                <tr>
                    <td align="center">NULL</td>
                    <td align="center">
                        <a href="/wechat/show_map?id={{ location.id }}">{{location.time | date:'Y-m-d H:i:s' }}</a>
                    </td>
                    <td align="center">
                        {{location.ip }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
</div>

</body>
</html>