<!DOCTYPE html>
<html lang="en">
    <head>
	    {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'blog/img/favicon.ico' %}">

        <!-- CSS -->
        <link href="{% static 'blog/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/my.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/monokai.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
        <!-- 音乐播放CSS -->
        <link href="{% static 'blog/css/audioplayer.css' %}" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{% static 'blog/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
        <script src="{% static 'blog/js/jquery.js' type='text/javascript' %}" > </script>
        <script src="{% static 'blog/js/my.js' type='text/javascript' %}" > </script>
        <!-- 音乐播放JS -->
        <script src="{% static 'blog/js/audioplayer.min.js' type='text/javascript' %}" > </script>
        {% block head %}
        {% endblock %}
  </head>

  <body onload="init()">

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/blog">首页</a>
            <a class="blog-nav-item" href="/blog/archive">归档</a>
            <a class="blog-nav-item" href="/blog/about">关于我</a>
            <!-- <a class="blog-nav-item" href="/blog/user_logout">退出</a> -->
        </nav>
      </div>
    </div>


    <div class="container">

      <div class="blog-header">

		</div>

		<div class="row">

                {% block content %}
                {% endblock %}
        </div><!-- /.blog-main -->

        {% block blog_sider %}


        {% endblock %}

      </div><!-- /.row -->



    <footer class="blog-footer">
      <p>Powered</a> by <a href="https://github.com/yaphone">@yaphone</a>.</p>
        <p>备案号：豫ICP备17002078号</p>
    </footer>
  </body>
</html>