{% extends "blog/base.html" %}
{% block head %}
    <style>
        .no-border {
             border: 1px solid transparent !important;
        }
    </style>
    <script>
        $(document).ready(function(){
            var csrf = $($("input[name='csrfmiddlewaretoken']").get(0)).val();
            var blog_id = $("#blog_id").val();
            $("#submit_comment").click(function(){
                var content = $("#content").val();
                $.ajax({
                    url: "/blog/comment",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': csrf,
                        'blog_id': blog_id,
                        'content': content
                    },
                    traditional: true,
                    success: function (data) {
                        if(data['status'] == 'OK'){
                            alert("评论成功");
                            location.reload();
                        }
                    }
                });
            });
        });
        $(function(){
            $($("button[name='reply']").each(function(){})).click(function(){
                    var comment_id = $(this).val();
                    $("#div"+comment_id.toString()).toggle(1000);
                });
        });
        $(function(){
            $($("button[name='sub_submit_comment']").each(function(){})).click(function(){
                    var csrf = $($("input[name='csrfmiddlewaretoken']").get(0)).val();
                    var parent_comment_id = $(this).val();
                    var sub_comment_content = $("#sub_comment" + parent_comment_id.toString()).val(); //获取二级评论内容
                    $.ajax({
                    url: "/blog/sub_comment",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': csrf,
                        'parent_comment_id': parent_comment_id,
                        'sub_comment_content': sub_comment_content
                    },
                    traditional: true,
                    success: function (data) {
                        if(data['status'] == 'OK'){
                            alert("评论成功");
                            location.reload();
                        }
                    }
                });
                });
        });

    </script>
{% endblock %}
{% block content %}
    <div class="col-sm-12 blog-main">
{% load custom_markdown %}
{% if blog %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ blog.blog_title}}</h2>
            <p class="blog-post-meta">{{ blog.update_time }}
            <p> {{ blog.blog_content | custom_markdown  }} </p>
            <hr>
        </div><!-- /.blog-post -->
        <div style="background-color:#F5F5F5"><!--文章评论-->
            <h3 style="text-align:right"> 精彩评论</h3>
            <hr/>
            {% if comment_list %}
                {% for comment in comment_list %}
                    <div>
                        <p>{{comment.content | custom_markdown}}</p>
                        <hr/>
                        {% if sub_comment_list%}
                            {% for sub_comment in sub_comment_list %}
                                {% if sub_comment.comment_id == comment.id %}<!-- 二级评论 -->
                                    <p><span style="padding-left:2em;"></span><span style="font-size:10px; color:blue">{{sub_comment.content}}</span></p>
                                    <!-- <p style="text-align:right; font-size:8px; color:green">评论时间：{{comment.comment_time}}</p> -->
                                    <hr/>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <p style="text-align:right; font-size:8px; color:green"><button value={{comment.id}} name="reply"> 回复 </button>  评论时间：{{comment.comment_time}}</p>
                        <div id="div{{comment.id}}" style="display:none">
                            <textarea id="sub_comment{{comment.id}}" name="content" class="form-control" rows="5" placeholder="扯淡、吐槽，想说啥说啥，评论支持markdown语法哦"></textarea>
                            <button name="sub_submit_comment" value="{{comment.id}}" class="col-lg-12 btn btn-sm">提交评论</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        <hr>
        </div><!--文章评论结束-->
        <div><!--评论框-->
            <form role="form" action="/blog/comment" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <label for="name">请输入评论内容</label>
                    <input id="blog_id" type="hidden" name="blog_id" value={{blog.id}}>
                    <textarea id="content" name="content" class="form-control" rows="5" placeholder="扯淡、吐槽，想说啥说啥，评论支持markdown语法哦"></textarea>
                </div>
            </form>
            <button id="submit_comment" class="col-lg-12 btn-success btn-lg">提交评论</button>
        </div>
        <hr>
{% endif %}
{% endblock %}
    </div><!--main container>