{%extends "blog/base.html" %}
{% block head %}
    <script>
        $(function () {
            var page_no = parseInt($("#page_no").val());
            var url = "/blog/index?page_no=";
            var previous_page_url = url;
            var next_page_url = url;
            if (page_no != 0){
                previous_page_url = url + String(page_no - 1);
            }
            next_page_url = url + String(page_no + 1);
            $("#previous").attr("href", previous_page_url);
            $("#next").attr("href", next_page_url);
        })
        $(function(){
            $("#search").click(function(){
                var search_word = $("#search_word").val();
                $.get('/blog/search_blog?search_word=' + search_word, function(data){
                    alert(data);
                });
            });
        })
    </script>

{% endblock %}

{% block content %}
{% load custom_markdown %}
    <div class="col-sm-8 blog-main">
{% if blog_list %}
	{% for blog in blog_list%}
		<div class="blog-post">
		    <h2 class="blog-post-title">{{ blog.blog_title}}</h2>
            <p class="blog-post-meta">{{ blog.update_time }} <a href="/blog/detail?title={{blog.blog_title}}">Read more</a></p>
            <p> {{ blog.blog_content | slice:"100" | custom_markdown}} </p>
            <hr>
        </div><!-- /.blog-post -->
    {% endfor %}
        <nav>
            <ul class="pager">
                <li><input id="page_no" type="hidden" value={{ page_no }}> </li>
                <li><a id="previous" href="#">Previous</a></li>
                <li><a id="next" href="#">Next</a></li>
            </ul>
        </nav>
{% endif %}
{% endblock content %}

{% block blog_sider %}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>欢迎光临我的博客</p>
    </div>
    <div>
        <div class="input-group input-group-lg">
            <input id="search_word" type="text" class="form-control" placeholder="文章搜索">
            <span id="search" class="input-group-addon">搜索</span>
        </div>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
        </ol>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/yaphone">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->
</div><!-- /.container -->

{% endblock %}