{% extends "blog/base.html" %}
{% block head %}
    {% load static %}
    <style>
        li{
            list-style:None;
        }
    </style>
    <link  href="{% static 'blog/css/fileinput.min.css' %}" rel="stylesheet" >
    <script src="{% static 'blog/js/fileinput.min.js' type='text/javascript' %}" > </script>
    <script src="{% static 'blog/js/zh.js' type='text/javascript' %}" > </script>
{% endblock %}
{% block content %}
    <h1 align="center">上传新博客</h1>
    <hr>
    <p>
        <br>
    </p>
    <p>
        <label class="control-label">请选择markdown文件进行上传（确保后缀为.md）</label>
        <form method="post" enctype="multipart/form-data" role="form" action="/blog/upload">
            <input id="input" name="md" type="file" class="file" data-show-caption="true">
            <hr>
            <input type="submit" value="上传" class="btn-success btn-lg col-lg-12">
        </form>
    </p>
    <p>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </p>
{% endblock %}